body {
    font-family: 'Franklin Gothic Medium';
    position: absolute;
    top: 10%;
    left: 40%;
    text-align: center;

}

.calendar {
    width: 350px;
}

.header {
    font-weight: bold;
    padding: 10px;
    background-color: white;
}

.weekdays {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: white;
}

/* 요일 css */
.weekdays .day {
    width: 46px;
}

.days {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;

}

.days .day {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 1px solid black;
}

/* 이전달과 다음달의 날짜 */
.days .day.other-month {
    color: grey;
}

/* 오늘 날짜 표시 */
.days .day.today {
    background-color: palegreen;
}
/* 일정확인 버튼 */
.plan {
    position: absolute;
    top: 10%;
    left: 75%;
}
.plan_check {
    position: absolute;
    margin: 40px;
    left: 0%;
}